---
import MainLayout from "../layouts/mainLayout.astro";
import Card from "../components/card.astro";
import Heading from "../components/pageHeading.astro";
import PageSection from "../components/pageSection.astro";

import contact from "../data/contact.json";
---

<MainLayout>
  <PageSection>
    <Heading level="h1" size="xl"> Contact </Heading>

    <p class="mb-5 max-w-2xl text-neutral-700">
      Get in touch regarding research collaborations, student opportunities,
      or general inquiries.
    </p>

    <div class="grid lg:grid-cols-2 gap-4">
      <!-- Left Side Content -->
      <div class="space-y-4">
        {
          contact.items.map((item) => (
            <Card class="flex items-start gap-4">

              <!-- Icon -->
              <div class="mt-1 shrink-0">
                <img
                    src={item.icon}
                    alt={`${item.title} icon`}
                    class="h-6 w-6"
                />
              </div>

              <!-- Content -->
              <div class="space-y-2">
                <Heading level="h3" size="sm">
                  {item.title}
                </Heading>

                <p set:html={item.value}></p>
              </div>

            </Card>
          ))
        }
      </div>

      <!-- Right Side Content -->
      <Card class="p-4 flex flex-col">
        <iframe
          src="https://www.google.com/maps?q=Dion+Science+and+Engineering+Building+UMass+Dartmouth&output=embed"
          class="w-full h-full rounded-md border-0"
          loading="lazy"
        ></iframe>
      </Card>
    </div>
  </PageSection>
</MainLayout>