---
import MainLayout from "../layouts/mainLayout.astro";
import Card from "../components/card.astro";
import PageHeading from "../components/pageHeading.astro";
import PageSection from "../components/pageSection.astro";
---

<MainLayout>

  <PageSection>

    <PageHeading title="Contact" />

    <p class="mb-5">
      Get in touch regarding research collaborations, student opportunities or general inquiries.
    </p>

    <div class="grid md:grid-cols-2 gap-4">

      <!-- Left Side Content -->
      <div class="space-y-4">

        <Card>
          <h2 class="text-strong font-semibold mb-1">Email</h2>
          <p>fkhatib@umassd.edu</p>
        </Card>

        <Card>
          <h2 class="text-strong font-semibold mb-1">Phone</h2>
          <p>508 999 8265</p>
        </Card>

        <Card>
          <h2 class="text-strong font-semibold mb-1">Office</h2>
          <p>
            Dion Building, Room 307A<br />
            Department of Computer and Information Science<br />
            University of Massachusetts Dartmouth
          </p>
        </Card>

        <Card>
          <h2 class="text-strong font-semibold mb-1">Fax</h2>
          <p>508 999 9144</p>
        </Card>

      </div>

      <!-- Right Side Content -->
      <Card class="p-4 flex flex-col">
        <iframe
          src="https://www.google.com/maps?q=Dion+Science+and+Engineering+Building+UMass+Dartmouth&output=embed"
          class="w-full h-full rounded-md border-0"
          loading="lazy"
        ></iframe>
      </Card>

    </div>

  </PageSection>

</MainLayout>