---
import GradientLayout from "../layouts/gradientLayout.astro";
import MainLayout from "../layouts/mainLayout.astro";
import Heading from "../components/pageHeading.astro";
import PageSection from "../components/pageSection.astro";
import Button from "../components/button.astro";
import Link from "../components/link.astro";
import Divider from "../components/divider.astro";
import Card from "../components/card.astro";
---

<MainLayout>
  <PageSection>
    <!-- Heading -->
    <div class="text-center">
      <Heading level="h1" size="xl">
        Scientific discovery by video game players
      </Heading>

      <div class="mb-5 flex justify-center">
        <Divider class="bg-[var(--color-secondary)]" />
      </div>
    </div>

    <!-- Content Cards -->
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-4">
      <Card>
        <div class="text-center px-2">
          <div class="mb-5 flex justify-center">
            <img
              src="images/icons/research.svg"
              alt="research"
              class="h-13 w-13"
            />
          </div>
          <p class="leading-relaxed">
            Our research group is interested in engaging the public to help us
            solve difficult scientific problems. We harness the collective
            brainpower of humans worldwide to tackle critical problems posed in
            computational biology.
          </p>
        </div>
      </Card>

      <Card>
        <div class="text-center px-2">
          <div class="mb-5 flex justify-center">
            <img src="images/icons/game.svg" alt="game" class="h-13 w-13" />
          </div>
          <p class="leading-relaxed">
            We have worked with and studied how citizen scientists of the online
            protein folding video game Foldit - with little or no prior
            biochemistry experience—uncovered knowledge that eluded scientists
            for years.
          </p>
        </div>
      </Card>

      <Card>
        <div class="text-center px-2">
          <div class="mb-5 flex justify-center">
            <img
              src="images/icons/hci.svg"
              alt="human computer collab"
              class="h-13 w-13"
            />
          </div>
          <p class="leading-relaxed">
            Our group is interested in combining the power of humans and
            computers to tackle other difficult scientific problems.
          </p>
        </div>
      </Card>
    </div>

    <!-- CTA Buttons -->
    <div
      class="mt-8 flex flex-col sm:flex-row items-center justify-center gap-6"
    >
      <Link href="/research">
        <Button variant="primary"> Explore Our Research </Button>
      </Link>

      <Link href="/contact">
        <Button variant="secondary"> Contact Us </Button>
      </Link>
    </div>
  </PageSection>
</MainLayout>
