---
import GradientLayout from "../layouts/gradientLayout.astro";
import PageSection from "../components/pageSection.astro";
import Link from "../components/link.astro";
import Heading from "../components/pageHeading.astro";
---

<GradientLayout>
  <PageSection>
    <!-- Grid Layout -->
    <div class="grid lg:grid-cols-2 items-center gap-8">
      <!-- Left Side Content -->
      <div class="max-w-xl">
        <Heading level="h1" size="xl">
          Summer Internships
        </Heading>

        <p class="text-lg text-muted mb-8">
          Explore research opportunities in computational biology and citizen
          science.
        </p>

        <!-- CTA Block -->
        <Link
          href="https://rosettacommons.org/education/reu/"
          external
          newTab
          class="cta-apply"
        >
          CLICK TO APPLY &rarr;
        </Link>
      </div>

      <!-- Right Side Image -->
      <div class="flex justify-center lg:justify-end">
        <img
          src="/images/internship.png"
          alt="Internship illustration"
          class="w-full max-w-md md:max-w-lg lg:max-w-xl object-contain"
        />
      </div>
    </div>
  </PageSection>
</GradientLayout>
