---
import GradientLayout from "../layouts/gradientLayout.astro";
import MainLayout from "../layouts/mainLayout.astro";
import Heading from "../components/pageHeading.astro";
import PageSection from "../components/pageSection.astro";
import Button from "../components/button.astro";
import Link from "../components/link.astro";
import Divider from "../components/divider.astro";
import Card from "../components/card.astro";
---

<MainLayout>
  <PageSection>
    <!-- Content Cards -->
    <div class="flex flex-col items-center text-center">
        <div class="text-center">
          <Heading level="h1" size="xl"> Summer Internships </Heading>
          <div class="flex justify-center">
            <Divider class="bg-[var(--color-secondary)]" />
          </div>
        </div>

        <div class="px-2 space-y-6">
          <div>
            <p class="text-lg font-semibold">
              Join Our Research Community
            </p>

            <p class="text-lg md:text-xl leading-relaxed text-neutral-700 max-w-2xl mx-auto">
              Explore opportunities in computational biology, citizen science,
              and collaborative research.
            </p>
          </div>

          <div>
            <Link
              href="https://rosettacommons.org/education/reu/"
              external
              newTab
            >
              <Button variant="primary"> Apply Now &rarr; </Button>
            </Link>
          </div>

          <div class="flex justify-center">
            <img
              src="/images/internship.png"
              alt="research"
              class="w-full max-w-xs xl:max-w-sm mx-auto object-contain drop-shadow-xl"
            />
          </div>
        </div>
    </div>
  </PageSection>
</MainLayout>
