---
import MainLayout from "../layouts/mainLayout.astro";
import PublicationCard from '../components/publicationCard.astro';
import publications from '../data/publications.json';
---

<MainLayout>

<h1 class="text-4xl font-bold mb-8">
  Publications
</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  {publications.map((pub) => (
    <PublicationCard publication={pub} />
  ))}
</div>

</MainLayout>

<script>
  document.addEventListener('click', (e) => {
    const btn = e.target.closest('.copy-btn');
    console.log(btn, btn?.getAttribute('data-citation'));
    if (!btn) return;

    const text = btn.getAttribute('data-citation');

    navigator.clipboard.writeText(text).then(() => {
      const original = btn.textContent;
      btn.textContent = 'Copied!';

      setTimeout(() => {
        btn.textContent = original;
      }, 2000);
    });
  });
</script>