---
import MainLayout from "../layouts/mainLayout.astro";
import PublicationCard from '../components/publicationCard.astro';
import PageHeading from "../components/pageHeading.astro";
import PageSection from "../components/pageSection.astro";

import publications from '../data/publications.json';
---

<MainLayout>

  <PageSection>

    <PageHeading title="Publications" />

    <!-- Publications Card Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {publications.map((pub) => (
        <PublicationCard publication={pub} />
      ))}
    </div>

  </PageSection>

</MainLayout>

<script>
  document.addEventListener('click', (e) => {
    const target = e.target as HTMLElement;
    const btn = target.closest('.copy-btn');
    if (!btn) return;

    const text = btn.getAttribute('data-citation') as string;

    navigator.clipboard.writeText(text).then(() => {
      const original = btn.textContent;
      btn.textContent = 'Copied!';

      setTimeout(() => {
        btn.textContent = original;
      }, 2000);
    });
  });
</script>