---
import MainLayout from "../layouts/mainLayout.astro";
import Heading from "../components/pageHeading.astro";
import PageSection from "../components/pageSection.astro";
import Link from "../components/link.astro";
import Divider from "../components/divider.astro";
---

<MainLayout>
  <PageSection>
    <!-- Title -->
    <Heading level="h1" size="xl">
      Scientific discovery by video game players
    </Heading>
    <Divider />

    <div>
      <!-- Intro (full width) -->
      <p class="mb-2">
        The ability to determine the three dimensional structure of
        disease-related proteins is essential to our understanding of how they
        work and how they can be successfully targeted with drugs, yet the gap
        between the number of known protein sequences and the number of solved
        protein structures is growing every year. The unusual approach of
        enlisting online gamers to tackle this problem has shown promise with
        the protein-folding videogame Foldit. By leveraging human puzzle
        solving, pattern-recognition, and 3D spatial reasoning, Foldit players
        are able to outperform many state of the art protein structure
        prediction methods.
      </p>

      <!-- Grid Section -->
      <div class="grid xl:grid-cols-[1.8fr_1fr] gap-8 items-start">
        <!-- Left Side Content -->
        <div class="">
          <p class="mb-2">
            Foldit players have been most successful in the refinement of
            partially correct models. This field of structure prediction has
            shown promise in solving crystal structures by molecular replacement
            (MR), and purely computational methods for this purpose have already
            proved successful. In one example where state-of-the-art methods
            were unable to produce a suitable model, Foldit players created
            models of sufficient quality for successful MR and subsequent
            structure determination of a monomeric retroviral protease.
          </p>

          <p class="mb-2">
            Starting from a low-resolution NMR model (red), Foldit players
            generated a model (green) of sufficient accuracy to provide an
            unambiguous molecular replacement solution, allowing rapid
            determination of the ultimate crystal structure (blue). Researchers
            had been unable to solve this structure by molecular replacement for
            over a decade. Foldit players managed to produce this model in ten
            days without any experimental data.
          </p>

          <Link href="/contact" variant="primary" class="mb-2">
              If you are an experimentalist with electron density data for a
              structure you have been unable to solve, please contact us.
          </Link>
        </div>

        <!-- Right SIde Image -->
        <div class="flex justify-center md:justify-start">
          <img
            src="/images/protein.png"
            alt="Protein structure"
            class="w-2/3 md:w-3/4 xl:w-4/5 max-w-md drop-shadow-lg"
          />
        </div>
      </div>
    </div>
  </PageSection>
</MainLayout>
