---
const {
  class: className = "",
  ...rest
} = Astro.props;
---

<div
  class={`bg-[var(--color-bg)] border border-[var(--color-border)] shadow-sm p-5 hover:shadow-md transition ${className}`}
  {...rest}
>
  <slot />
</div>