---
import Link from "../components/link.astro";
---

<footer class="footer-bg text-white px-6 py-6 sm:px-20 sm:py-8">

  <div class="max-w-6xl mx-auto flex justify-between items-center gap-6">

    <!-- Left section -->
    <div class="text-sm flex flex-col md:flex-row md:items-center gap-2 md:gap-4">

      <span class="font-medium text-base font-semibold">
        For More Information:
      </span>

      <div class="footer flex flex-col md:flex-row gap-1 md:gap-4">

        <Link
          href="https://www.umassd.edu/engineering/cis/faculty/"
          newTab
          variant="nav"
          class="text-base"         
        >
          UMass Dartmouth
        </Link>

        <Link
          href="https://scholar.google.com/citations?user=1WSaBBsAAAAJ"
          newTab
          variant="nav"
          class="text-base" 
        >
          Google Scholar Page
        </Link>

      </div>

    </div>

    <!-- Right section -->
    <div class="footer-img">
      <Link href="https://fold.it/about_foldit" newTab>
        <img src="/images/foldit-logo.svg" alt="Foldit" class="h-16 w-auto" />
      </Link>
    </div>

  </div>

</footer>