---
import Card from "./card.astro";
import Heading from "../components/pageHeading.astro";


const { video } = Astro.props;
const { title, subtitle, videoUrl } = video;
---
<Card class="overflow-hidden" style="padding:0!important">
  <!-- Video Container -->
  <div class="video-container relative aspect-video" data-video-url={videoUrl}>
    <!-- Loader -->
    <div class="loader absolute inset-0 flex flex-col items-center justify-center">
      <p class="text-xs text-muted">
        Loading video...
      </p>
    </div>
  </div>

  <!-- Content -->
  <div class="px-4 pt-3 pb-4">
    <Heading level="h3" size="md"> {title} </Heading>
    {
      subtitle && (
        <p class="text-sm">
          {subtitle}
        </p>
      )
    }
  </div>
</Card>

<script>
  // Loading videos in iframes once they are ready to improve performance and user experience  
  document.addEventListener("DOMContentLoaded", () => {
    const containers = document.querySelectorAll(".video-container");

    containers.forEach((container) => {
      const url = container.getAttribute("data-video-url") || "";

      // add iframes dynamically
      const iframe = document.createElement("iframe");
      iframe.src = url;
      iframe.className =
        "absolute inset-0 w-full h-full opacity-0 transition-opacity duration-300";
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("allow", "autoplay; fullscreen");
      iframe.setAttribute("allowfullscreen", "");
      iframe.setAttribute("loading", "lazy");

      // When iframe content is loaded and ready
      iframe.onload = () => {
        iframe.classList.remove("opacity-0");
        iframe.classList.add("opacity-100");

        // Remove loader after iframe is ready
        const loader = container.querySelector(".loader");
        if (loader) loader.remove();
      };

      container.appendChild(iframe);
    });
  });
</script>
